<ion-header>
    <ion-toolbar color="primary">
        <ion-label text-wrap style="text-align: justify;">Proyectos de {{nombre}}</ion-label>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <img src="../../assets/icon/ups.png">
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let l of lista">
            <ion-item lines="inset">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/project.png">
                </ion-avatar>
                <ion-label text-wrap style="text-align: justify;">
                    <h2><strong>{{l.nombre}}</strong></h2><br>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>