<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Conoce más</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="conoceMS-video1">
    <iframe src="https://www.youtube.com/embed/8ZkWX-6mzSo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen
      width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
  </div>
  <h4 id="conoceMS-heading1" style="color:#7B9AE8;">
    Pregrado
  </h4>
  <div>
    <a style="display:block;" href="https://www.ups.edu.ec/web/guest/estudia-en-la-ups" target="popup"
      onclick="window.open('https://www.ups.edu.ec/web/guest/estudia-en-la-ups','popup','width=600,height=600'); return false;">
      <img src="assets/img/0ZvHsyJqT1Clnoel8D21_dest-inscripciones-lasalesiana-01.png"
        style="display:block;width:100%;height:auto;" />
    </a>
  </div>
  <h4 id="conoceMS-heading6" style="color:#7B9AE8;">
    Postgrados
  </h4>
  <div>
    <a style="display:block;" href="https://posgrados.ups.edu.ec/" target="popup"
      onclick="window.open('https://posgrados.ups.edu.ec/','popup','width=600,height=600'); return false;">
      <img src="assets/img/p6OQ2fRvSXCbYuujbX2w_banner-produccion.jpg" style="display:block;width:100%;height:auto;" />
    </a>
  </div>
  <h4 id="conoceMS-heading5" style="color:#7B9AE8;">
    Grupo de Investigación
  </h4>
  <div>
    <a style="display:block;" href="https://giiata.blog.ups.edu.ec" target="popup"
      onclick="window.open('https://giiata.blog.ups.edu.ec','popup','width=600,height=600'); return false;">
      <img src="assets/img/logoGIIATa.png"
        style="display:block;width:20%;height:auto;margin-left:auto;margin-right:auto;" />
    </a>
  </div>
  <h5 id="conoceMS-heading2" style="color:#7B9AE8;">
    Desarrollado por:
  </h5>
  <h5 id="conoceMS-heading3" style="color:#000000;">
    - Ing. Diego Quisi Msc.
  </h5>
  <h5 id="conoceMS-heading4" style="color:#000000;">
    - Frank Montalvo
  </h5>
</ion-content>